<%= render partial: "layouts/sidebar", object: @user, :as => "user" %>
<div id="dark" style="display:none"></div>
<div class="wrapper">
<%= render "layouts/header" %>
	<div class="content">
		<% if @index.nil? %>
				<% if @save.nil? %>
					<a id="add_bookmark"><img class="bookmark" src="/assets/bookmark.png" width="50px"></a>
					<a id="remove_bookmark" style="display:none"><img class="bookmark" src="/assets/bookmark.png" width="50px" style="opacity:1.0"></a>
				<% else %>
					<a id="add_bookmark" style="display:none"><img class="bookmark" src="/assets/bookmark.png" width="50px"></a>
					<a id="remove_bookmark"><img class="bookmark" src="/assets/bookmark.png" width="50px" style="opacity:1.0"></a>
				<% end %>
			</a>
			<span class="law-legalid"><%= @law.legal_id %></span>
			<div class="nav_arrows">
				<% if @law.id > 1 %>
					<a href="/laws/<%= @law.id - 1 %>"><img id="left" width="30px" src="/assets/left_arrow.png" alt="Previous"></a>
				<% end %>
				<% if @law.id < get_max %>
					<a href="/laws/<%= @law.id + 1 %>"><img id="right" width="30px" src="/assets/right_arrow.png" alt="Next"></a>
				<% end %>
			</div>
			<br style="clear:both">
			<p class="law-title"><%= @law.title %></p>
			<div class="law-content">
				<%= raw @law.content %>
			</div>
			<div class="nav_arrows" id="bottom_arrows">
				<% if @law.id > 1 %>
					<a href="/laws/<%= @law.id - 1 %>"><img id="left" width="30px" src="/assets/left_arrow.png" alt="Previous"></a>
				<% end %>
				<% if @law.id < get_max %>
					<a href="/laws/<%= @law.id + 1 %>"><img id="right" width="30px" src="/assets/right_arrow.png" alt="Next"></a>
				<% end %>
			</div>
		<% else %>
			<h1 class="law-legalid" style="float: none; text-align: center;">Welcome</h1>
			<p class="law-title" style="text-align:center">
				Welcome to License Law Online.<br>
				Please use the menu above to browse the law library.
			</p>
		<% end %>
	</div>
</div>




<%= content_for :caboose_js do %>
<% if @is_logged_in && !@index %>
	<script type='text/javascript'>
		var seen = false; 
		$("#add_bookmark").click( function(event) {
			event.preventDefault(); 
			$.post(
				"/laws/add_bookmark", 
				{
					user_id: '<%= @user.id %>', 
					law_id: '<%= @law.id %>'
				},
				function(data,status) {
					$("#add_bookmark").hide(); 
					$("#remove_bookmark").show();
				}
			); 
		});
		$("#remove_bookmark").click( function(event) {
			event.preventDefault(); 
			$.post(
				"/laws/remove_bookmark", 
				{
					user_id: '<%= @user.id %>', 
					law_id: '<%= @law.id %>'
				},
				function(data,status) {
					$("#remove_bookmark").hide(); 
					$("#add_bookmark").show();
				}
			); 
		});
	</script>
<% else %>
	<script type='text/javascript'>
		$("#login_btn").click(function(event) {
			event.preventDefault(); 
			open_colorbox(); 
		}); 

		function open_colorbox() {
		  $.colorbox({
		    href: '/login?return_url=/laws',
		    iframe: true,
		    innerWidth: 200,
		    innerHeight:  50,
		    scrolling: false,
		    transition: 'fade',
		    closeButton: false,
		    onComplete: fix_colorbox,
		    opacity: 0.50,
		  //  onClosed: function() { open_colorbox(); }   
		  });
		}

		function fix_colorbox() {
		  $("#cboxTopLeft"      ).css('background', '#111');
		  $("#cboxTopRight"     ).css('background', '#111');
		  $("#cboxBottomLeft"   ).css('background', '#111');
		  $("#cboxBottomRight"  ).css('background', '#111');
		  $("#cboxMiddleLeft"   ).css('background', '#111');
		  $("#cboxMiddleRight"  ).css('background', '#111');
		  $("#cboxTopCenter"    ).css('background', '#111');
		  $("#cboxBottomCenter" ).css('background', '#111');
		  $("#cboxClose"        ).hide(); 
		}
	</script>
<% end %>
<% end %>